fastapi
uvicorn
tensorflow
tensorflow_hub
opencv-python-headless
python-multipart

# fastapi: 0.115.12
# uvicorn: 0.34.3
# tensorflow: 2.19.0
# tensorflow_hub: 0.16.1
# opencv-python-headless: 4.11.0.86
# python-multipart: 0.0.20